body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);

  font-family: system-ui, sans-serif;
  text-align: left;
  background: #ffffff;
  color: #000000;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

a:link {
  color: #606060;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:visited {
  color: #909090;
  text-decoration: none;
}


#rotate-overlay {
  position: fixed;
  inset: 0;
  background: #000000;
  color: #ffffff;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9999;
  font-size: 1.5rem;
}

.site-header {
  height: 10%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

.container {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-left: 15px;
  padding-right: 15px;
  gap: 15px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 200px;
  position: sticky;
  top: 0; */
}
  
.content {
  overflow-y: scroll;
  /* padding: 2rem; */
  flex: 1;
}

.gallery {
  height: 300px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  /* flex: 0 0 auto;
  height: 100%; */
  align-items: center;
}

.item img {
  height: 200px;
  /* max-height: 30vh; */
  /* max-width: 100%; */
  object-fit: contain;
}

.item p {
  text-align: center;
}


  .img-button {
  
    width: 100%;
    aspect-ratio: 5 / 1;
  
    border: none;
    cursor: pointer;
    position: relative;
  
    background-size: 100% auto;
    background-position: center;
  
    font-size: 1rem;

    margin-bottom: 10px;
  }
  
  .img-button.is-off {
    aspect-ratio: 5 / 1;
  }

  /* ON state */
  .img-button.is-on {
    aspect-ratio: 5 / 2;
  }
  
  /* Optional hover feedback */
  .img-button:hover {
    filter: brightness(1.05);
  }
  
