body {
  font-family: system-ui, sans-serif;
  background: #0e0e11;
  color: #eaeaea;
}
  
#rotate-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9999;
  font-size: 1.5rem;
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
  
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-left: 15px;
  padding-right: 15px;
  gap: 20px; 
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 200px;
  position: sticky;
  top: 0; */
}
  
.content {
  overflow-y: auto;
  padding: 2rem;
  flex: 1;
}
  
  button.active {
    background: #333;
    color: white;
  }
  

  .button {
    padding: 0.75rem 1.25rem;
    border: 1px solid currentColor;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .button:hover {
    background: currentColor;
    color: black;
  }

  .img-button {
  
    width: 100%;
    aspect-ratio: 5 / 1;
  
    border: none;
    cursor: pointer;
    position: relative;
  
    background-size: 100% auto;
    background-position: center;
  
    font-size: 1rem;

    margin-bottom: 10px;
  }
  
  .img-button.is-off {
    aspect-ratio: 5 / 1;
  }

  /* ON state */
  .img-button.is-on {
    aspect-ratio: 5 / 2;
  }
  
  /* Optional hover feedback */
  .img-button:hover {
    filter: brightness(1.05);
  }
  